.container{
    position: relative;
    overflow: hidden;
    background-size:cover;
}

.postcontainer{
    margin-top: 10%;
    margin-left:35%;
}

.title{
    margin-top:10%;
    margin-right:50%;
    border: 1px solid grey;
    border-radius: 5px;
}

.img{
    object-fit:cover;
    width:50%;
    height: 50%
}

.description{
    margin-right:50%;
    border: 1px solid grey;
    border-radius: 5px;
}
.heart{
    text-align:right;
}