.Header{
  display: flex;
  justify-content: space-between;
  padding: 2px 20px;
  border: 2px black solid ;
}
.writeButton{
  width: 50px;
  height: 50px;
  background-color: #212121;
  color: #ffffff;
  box-sizing: border-box;
  font-size: 36px;
  font-weight: 800;
  position: fixed;
  bottom: 50px;
  right: 16px;
  text-align: center;
  border: none;
  border-radius: 50px;
  vertical-align: middle;
}
.writeImageInner{
  position: relative;
    /* padding-top: 20%; */
    overflow: hidden;
    background-size: cover;

}
.writeImageOutter{
  width: 50%;
    min-width: 200px;
}
.writeImage{
  object-fit:cover;
  width: 100%;
  height: 100%;
}
.contents{
  display: flex;
}
.writeContent{
  height: 100%;
}
.writetrip{
  height: 200px;
  /* border: white; */
}
.writePage{
   padding: 2% 10%;
  /* display: flex; */
   /* align-items: center;
   justify-content: space-between;  */
}

/*로그인*/
.loginTitle {
  text-align: center;
}

.loginContainer {
  width: 60%;
  margin: 70px auto;
  text-align: center;
  border: 2px solid red;
}

.loginIdInput {
  display: block;
  margin: 10px auto;
  border: 1px solid blue;
}

.loginPasswordInput {
  display: block;
  margin: 10px auto;
  border: 2px solid green;
}

.loginBtn {
  width: 150px;
  padding: 5px;
  margin: 20px auto;
  border: 2px solid brown;
  border-radius: 5px;
}
/*메인페이지*/
.postCard {
  width: 20%;
  margin: 20px auto;
  border: 1px solid red;
}

.postImage {
  /* position: relative; */
  /* padding-top: 75%; */
  overflow: hidden;
}

.postImage img {
  width: 100%;
  height: 100%;   
  object-fit: cover;
}

.postFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postTitle {
  width: 30%;
}

.dislikeBtn {
  background-color: "yellow";
}

.likeBtn {
  background-color: red;
}

/* 시간리스트*/
.postContainer {
  border: 2px solid green;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}